<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ siteName }}</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  {% block body %}
    
    {% block page_header %}
      <header class="max-w-4xl px-6 mx-auto py-24">
        <h1 class="text-4xl font-bold">
          Music Festival
        </h1>
        <p>
          3 days of music across your favourite venues in the city.
        </p>
      </header>
    {% endblock %}

    {% block page_body %}{% endblock %}

    {% block page_footer %}
      <footer class="max-w-4xl px-6 mx-auto py-4 border-t text-xs mt-24">
        Created for
        <em class="font-serif">
          {{ siteName }}
        </em>
      </footer>
    {% endblock %}
    
  {% endblock %}
</body>
</html>
